<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Privacyverklaring</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <!-- <base href="//123games.club" /> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css" rel="stylesheet"
        media="screen" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700" rel="stylesheet">
    <link href="/static/css/help.css" rel="stylesheet" media="screen" />
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="columns" style="position: relative;text-align: center;color: aquamarine">
                    <h1>Privacyverklaring BlueBubble </h1>
                </div>
            </div>
        </div>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="columns">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row align-center">
                <div class="columns">
                    <p>Via deze online site worden privacygevoelige gegevens oftewel persoonsgegevens verwerkt door
                        BlueBubble . BlueBubble acht een zorgvuldige omgang met persoonsgegevens van groot belang.
                        Persoonlijke gegevens worden door ons dan ook zorgvuldig verwerkt en beveiligd.</p>
                    <p>Bij onze verwerking houden wij ons aan de eisen die de privacywetgeving stelt. Dat betekent
                        onder andere dat:</p>
                    <ul>
                        <li>wij duidelijk vermelden met welke doeleinden wij persoonsgegevens verwerken. Dat doen wij
                            via deze privacyverklaring;</li>
                        <li>wij onze verzameling van persoonsgegevens beperken tot alleen de persoonsgegevens die nodig
                            zijn voor legitieme doeleinden;</li>
                        <li>wij je eerst vragen om uitdrukkelijke toestemming om jouw persoonsgegevens te verwerken in
                            gevallen waarin jouw toestemming is vereist;</li>
                        <li>wij passende beveiligingsmaatregelen nemen om jouw persoonsgegevens te beschermen en dat
                            ook eisen van partijen die in onze opdracht persoonsgegevens verwerken;</li>
                        <li>wij jouw recht respecteren om je eigen persoonsgegevens op jouw aanvraag ter inzage te
                            bieden, te corrigeren of te verwijderen.</li>
                    </ul>
                    <p>BlueBubble is de verantwoordelijke voor de gegevensverwerking. In deze privacyverklaring leggen
                        wij uit welke persoonsgegevens wij verzamelen en gebruiken en met welk doel. Wij raden je aan
                        deze zorgvuldig te lezen.</p>
                    <h3>Gebruik van persoonsgegevens</h3>
                    <p>Bij het gebruiken van onze online site verkrijgen wij bepaalde gegevens van u. Dat kunnen
                        persoonsgegevens zijn. Wij bewaren en gebruiken uitsluitend de persoonsgegevens die
                        rechtstreeks door jou worden opgegeven, in het kader van de door jou gevraagde dienst, of
                        waarvan bij opgave duidelijk is dat ze aan ons worden verstrekt om te verwerken.</p>
                    <p>Wij gebruiken de volgende gegevens voor de in deze privacyverklaring genoemde doelen:</p>
                    <ul>
                        <li>IP-adres</li>
                        <li>Internet-browser en apparaattype</li>
                        <li>Emailadres</li>
                        <li>Username</li>
                    </ul>
                    <h3>Bijzondere en/of gevoelige persoonsgegevens die wij verwerken</h3>
                    <p>Onze website heeft niet de intentie gegevens te verzamelen over websitebezoekers die jonger zijn
                        dan 16 jaar. We kunnen echter niet controleren of een bezoeker ouder dan 16 is. Wij raden
                        ouders dan ook aan betrokken te zijn bij de online activiteiten van hun kinderen, om zo te
                        voorkomen dat er gegevens over kinderen verzameld worden zonder ouderlijke toestemming. Als je
                        er van overtuigd bent dat wij zonder die toestemming persoonlijke gegevens hebben verzameld
                        over een minderjarige, neem dan contact met ons op via <strong style="font-size: 14px;"> chensihao@bluebubble.com.cn</strong>, dan
                        verwijderen wij deze informatie.</p>
                    <h3>Reclame</h3>
                    <p>Wij kunnen u, naast de informatie op onze website, ook op de hoogte brengen van onze nieuwe
                        producten en diensten:</p>
                    <ul>
                        <li>per e-mail</li>
                        <li>via sociale media</li>
                    </ul>
                    <h3>Contactformulier</h3>
                    <p>Wij bieden via onze online site de mogelijkheid om vragen te stellen middels een
                        contactformulier, waarbij je gevraagd wordt diverse gegevens in te vullen om jouw vraag te
                        behandelen. Je kiest zelf welke gegevens je daarbij verstrekt. De gegevens die je ons
                        toestuurt, worden bewaard zolang als naar de aard van het formulier of de inhoud van jouw
                        e-mail nodig is voor de volledige beantwoording en afhandeling daarvan. We gebruiken de
                        reCAPTCHA service van Google Inc. (Google) om gegevens te beschermen die verstuurd worden via
                        het contactformulier. Die functie controleert of een bericht wel door een persoon wordt
                        verstuurd, om zo te voorkomen dat 'spam bots' bijvoorbeeld automatisch berichten sturen of
                        commentaren achterlaten. Hierbij worden het IP adres van een bezoeker en mogelijk ook andere
                        data verstuurd om Google reCAPTCHA te laten werken. De inhoud van een bericht wordt hiervoor
                        verstuurd naar en verwerkt door Google. Het IP adres wordt hierbij afgekort en daardoor anoniem
                        gemaakt in landen die deel uitmaken van de EU en staten die deelnemen aan het verdrag voor het
                        Europese economische gebied. In uitzonderingsgevallen wordt een IP adres volledig doorgegeven
                        aan een Google server in de Verenigde Staten en daar afgekort. Namens de bezitter van deze
                        website gebruikt Google deze gegevens om je gebruik van deze dienst te evalueren. Het IP adres
                        dat reCAPTCHA doorgeeft, wordt niet samengevoegd met andere data van Google. Op het verzamelen
                        van deze gegevens zijn Google's regels voor gegevensbescherming van toepassing. Meer informatie
                        over Google's privacybeleid vind je op deze pagina: www.google.com/intl/en/policies/privacy/.
                        Door reCAPTCHA te gebruiken ga je ermee akkoord dat Google gegevens over jou verwerkt op de
                        manier en voor het doel zoals hierboven beschreven.</p>
                    <h3>Nieuwsbrief</h3>
                    <p>Wij bieden een nieuwsbrief waarmee wij geïnteresseerden willen informeren over onze producten
                        en/of diensten. Iedere nieuwsbrief bevat een link waarmee je je kunt afmelden. Je e-mailadres
                        wordt slechts met jouw expliciete toestemming toegevoegd aan de lijst van abonnees. Voor het
                        versturen van nieuwsbrieven maken wij gebruik van Mailchimp. Mailchimp heeft haar systemen goed
                        beveiligd en gaat vertrouwelijk om met je gegevens. Wij hebben een bewerkersovereenkomst met
                        Mailchimp gesloten om afspraken te maken over de omgang met onze data.</p>
                    <h3>Publicatie</h3>
                    <p>Als je onze service gebruikt, dan wordt de onderstaande data zichtbaar gepubliceerd op internet:</p>
                    <ul>
                        <li>Je gebruikersnaam</li>
                    </ul>
                    <h3>Verstrekking aan derden</h3>
                    <p>BlueBubble verkoopt jouw gegevens niet aan derden en zal deze uitsluitend verstrekken indien dit
                        nodig is voor de uitvoering van onze overeenkomst met jou of om te voldoen aan een wettelijke
                        verplichting. Met bedrijven die jouw gegevens verwerken in onze opdracht, sluiten wij een
                        bewerkersovereenkomst om te zorgen voor eenzelfde niveau van beveiliging en vertrouwelijkheid
                        van jouw gegevens. BlueBubble blijft verantwoordelijk voor deze verwerkingen.</p>
                    <h3>Cookies</h3>
                    <p>Op onze online site wordt gebruik gemaakt van cookies. Ook via derden die door ons zijn
                        ingeschakeld worden cookies geplaatst. Europese EER-gebruikers: wanneer je onze online site
                        voor het eerst bezoekt, wordt er een mededeling getoond waarin wij je toestemming vragen om
                        adverenties door middel van cookies te personaliseren. Je kunt deze toestemming intrekken door
                        je cookies te verwijderen of meer specifiek de cookie met de naam: BlueBubble AdConsent.</p>
                    <p>Het staat je vrij om cookies uit te schakelen middels jouw browser. Houd er wel rekening mee dat
                        het mogelijk is dat onze website dan niet meer optimaal werkt.</p>
                    <p>Met derden die cookies plaatsen hebben wij afspraken gemaakt over het gebruik van de cookies en
                        applicaties. Toch hebben wij geen volledige controle op wat de aanbieders van deze applicaties
                        zelf met de cookies doen wanneer zij deze uitlezen. Voor meer informatie over deze applicaties
                        en hoe zij met cookies omgaan, zie graag de privacyverklaringen van deze partijen (let op: deze
                        kunnen regelmatig wijzigen).</p>
                    <p>Wij gebruiken de volgende soorten cookies:</p>
                    <ul>
                        <li>Cookies voor Google analytics (zie hieronder).</li>
                        <li>Advertentiecookies: Cookies die derden zetten bij het adverteren op de site (zie
                            hieronder).</li>
                        <li>Cookies om bij te houden of adverentie cookies ok zijn voor de zogenaamde cookiebalk.</li>
                        <li>Cookies voor favorieten, dit zijn cookies om je favoriete pagina's op te slaan.</li>
                        <li>Cookies die je voortgang en score in online spellen bijhouden.</li>
                    </ul>
                    <h3>Advertenties</h3>
                    <p>Wij vertonen advertenties van derden, die persoonsgegevens kunnen bijhouden om deze op maat te
                        snijden.</p>
                    <ul>
                        <li>Externe leveranciers, waaronder Google, gebruiken cookies om advertenties weer te geven op
                            basis van eerdere bezoeken van een gebruiker aan een website of aan andere websites.</li>
                        <li>Met advertentiecookies kunnen Google en zijn partners advertenties weergeven aan gebruikers
                            op basis van hun bezoek aan onze sites en/of andere sites op internet.</li>
                        <li>Gebruikers kunnen zich afmelden voor gepersonaliseerde advertenties door niet akkoord te
                            gaan met onze vraag om advertenties te mogen personaliseren of door
                            Advertentie-instellingen te bezoeken (voor Google advertenties) en/of door
                            www.aboutads.info te bezoeken (voor andere advertentienetwerken).</li>
                        <li>Meer informatie over hoe Google je data gebruikt:
                            policies.google.com/privacy/partners?hl=nl,
                            www.google.com/policies/technologies/partner-sites/ en policies.google.com/privacy?hl=nl.</li>
                        <li>Europese EER-gebruikers: je kunt je toestemming om onze advertenties te personaliseren
                            altijd intrekken door alle cookies te verwijderen of onze toestemmingcookie te verwijderen.
                            De naam van onze toestemming cookie is: BlueBubble AdConsent.</li>
                    </ul>
                    <h3>Google Analytics</h3>
                    <p>Wij gebruiken Google Analytics om bij te houden hoe bezoekers onze online site gebruiken. Wij
                        hebben een bewerkersovereenkomst met Google gesloten om afspraken te maken over de omgang met
                        onze data. Verder hebben wij Google niet toegestaan de verkregen Analytics informatie te
                        gebruiken voor andere Google diensten, tot slot laten wij de IP-adressen anonimiseren. Je kunt
                        het vastleggen en verwerken van de door de cookies gegenereerde gegevens (inclusief jouw
                        IP-adres) voorkomen door via de volgende link de zogenaamde "opt-out browser add-on" te
                        downloaden en installeren: tools.google.com/dlpage/gaoptout?hl=nl</p>
                    <h3>Beveiliging</h3>
                    <p>Wij nemen beveiligingsmaatregelen om misbruik van en ongeautoriseerde toegang tot
                        persoonsgegevens te beperken.</p>
                    <h3>Bewaartermijnen</h3>
                    <p>De hierboven beschreven persoonsgegevens worden bewaard voor zo lang je geregistreerd bent op
                        onze site of onze site bezoekt. Daarna bewaren wij gegevens nog maximaal 26 maanden voor de
                        beschreven statistische doeleinden. De gegevens worden vervolgens gewist, tenzij er een
                        wettelijke plicht is die langer bewaren vereist (zoals de fiscale bewaarplicht van zeven jaar
                        voor betaalgegevens).</p>
                    <h3>Websites van derden</h3>
                    <p>Deze privacyverklaring is niet van toepassing op websites van derden die door middel van links
                        met onze online site zijn verbonden. Wij kunnen niet garanderen dat deze derden op een
                        betrouwbare of veilige manier met jouw persoonsgegevens omgaan. Wij raden je aan de
                        privacyverklaring van deze websites te lezen alvorens van deze websites gebruik te maken.</p>
                    <h3>Wijzigingen in deze privacyverklaring</h3>
                    <p>Wij behouden ons het recht voor om wijzigingen aan te brengen in deze privacyverklaring. Het
                        verdient aanbeveling om deze privacyverklaring geregeld te raadplegen, zodat je van deze
                        wijzigingen op de hoogte bent.</p>
                    <h3>Inzage en wijzigen of verwijderen van jouw gegevens</h3>
                    <p>Voor vragen over ons privacybeleid of vragen omtrent inzage en wijzigingen in (of verwijdering
                        van) je persoonsgegevens kun je te allen tijde contact met ons opnemen via onderstaande
                        gegevens.</p>
                    <p>Je kunt ons ook een verzoek toesturen om deze gegevens in te zien, te wijzigen of te
                        verwijderen. Ook kun je een verzoek indienen om een gegevensexport op te vragen voor gegevens
                        die wij met jouw toestemming gebruiken, of gemotiveerd aangeven dat je de verwerking van
                        persoonsgegevens door ons wil laten beperken.</p>
                    <p>Om misbruik te voorkomen kunnen wij je daarbij vragen om je adequaat te identificeren. Wanneer
                        het gaat om inzage in persoonsgegevens gekoppeld aan een cookie, dien je een kopie van het
                        cookie in kwestie mee te sturen.Je kunt deze terug vinden in de instellingen van jouw browser.
                        Indien de gegevens niet kloppen, kun je ons verzoeken om de gegevens te wijzigen of te laten
                        verwijderen.</p>
                    <h3>Autoriteit Persoonsgegevens</h3>
                    <p>Natuurlijk helpen wij je graag verder als je klachten hebt over de verwerking van jouw
                        persoonsgegevens. Op grond van de privacywetgeving heb je ook het recht om een klacht in te
                        dienen bij de Autoriteit Persoonsgegevens tegen deze verwerkingen van persoonsgegevens. Je kunt
                        hiervoor contact opnemen met de Autoriteit Persoonsgegevens.</p>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/2.0.7/lazysizes.min.js"></script>
</body>

</html>
