<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>T&C</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <!-- <base href="//123games.club" /> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css" rel="stylesheet"
        media="screen" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700" rel="stylesheet">
    <link href="/static/css/help.css" rel="stylesheet" media="screen" />
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="columns" style="position: relative;text-align: center;color: aquamarine">
                    <h1>Voorwaarden</h1>
                </div>
            </div>
        </div>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="columns">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row align-center">
                <div class="columns">
                    <h3>Aanvaarding van de Algemene Voorwaarden</h3>
                    <p>De volgende termen en voorwaarden, samen met eender welke documenten die hierin worden verwezen
                        (collectief, deze "Gebruiksvoorwaarden"), je toegang en het gebruik regen van
                        www.gbbgame.com ("we", "ons", "onze", en/of de "Websites"), inclusief eender welke content,
                        functionaliteit en diensten aangeboden op of via de Websites, webpagina's, interactieve
                        features, applicaties, widgets, blogs, sociale netwerken, sociale netwerk "tabs", of andere
                        online of draadloze diensten die een link posten naar deze Gebruiksvoorwaarden, of ze zijn
                        bereikt via computer, mobiel apparaat, of andere technologie of manier.</p>
                    <p>Lees aub de Voorwaarden voorzichtig voordat je de Websites begint te gebruiken. Door de Websites
                        te gebruiken of door te klikken op aanvaard de Voorwaarden wanneer deze optie mogelijk is,
                        aanvaard je en ga je akkoord om gebonden te zijn aan de Gebruiekrsvoorwaarden en ons
                        Privacybeleid en zich daaraan te houden, gevonden op http://www.gbbgame.com/p en hierin
                        bevestigd door de link. Als je niet wil toestemmen met deze Gebruiksvoorwaarden of ons
                        Privacybeleid, moet je deze Websites niet bezoeken of gebruiken.</p>
                    <p>Als je de Websites bezoekt of gebruikt, of je nu op 'aanvaard' klikt of niet, stem je toe met
                        alle voorwaarden en deze Gebruikersvoorwaarden. Als je niet alle Gebruikersvoorwaarden
                        begrijpt, is het aangewezen om een advocaat te consulteren voordat je toestemt met de
                        Gebruikersvoorwaarden.</p>
                    <p>Je gaat akkoord met deze Gebruiksvoorwaarden elektronisch, en met het opslaan van bestanden
                        gerelateerd aan deze Gebruiksvoorwaarden in elektronische vorm.</p>
                    <p>Wanneer je de Websites gebruikt, zal je onderhevig zijn aan alle geposte regels,
                        communityrichtlijnen, of beleiden. Dergelijke regels, richtlijnen en beleiden zijn hierbij
                        ingevoegd door verwijzing in deze Gebruiksvoorwaarden. We mogen ook andere Websites aanbieden
                        die worden geregeerd door verschillende Gebruiksvoorwaarden.</p>
                    <h3>Mogelijkheid om Termen en Voorwaarden te aanvaarden</h3>
                    <p>Je bevestigt dat je minstens 18 jaar oud bent of de meerderheidsleeftijd hebt in de jurisdictie
                        waaruit je de Websites bezoekt, en je volledig competent bent om akkoord te gaan met deze
                        gebruiksvoorwaarden, condities, verplichtingen, bevestigingen, representaties en garanties
                        beschreven in deze Gebruiksvoorwaarden, en dat je akkoord gaat met deze Gebruiksvoorwaarden.
                        Als je onder 18 bent of onder de meerderjarigheidsleeftijd, ben je niet toegelaten om
                        persoonlijke informatie aan ons te verstrekken of om de Websites te gebruiken. Je bevestigt ook
                        dat de jurisdictie vanuit je de Websites bezoekt het bekijken of ontvangen of seksueel
                        expliciete content niet verbiedt.</p>
                    <h3>Veranderingen aan de voorwaarden</h3>
                    <p>We mogen deze Gebruiksvoorwaarden herzien of aanpassen van tijd tot tijd naar eigen goeddunken
                        en je gaat akkoord met dergelijke wijzigingen en hernemingen. Hoewel we je mogelijk kunnen
                        melden wanneer grote veranderingen zijn gemaakt aan deze Gebruiksvoorwaarden, wordt er van je
                        verwacht dat je af en toe de meest up-to-date versie versie bekijkt gevonden op
                        http://www.gbbgame.com/t, dus je bent je bewust van elke veranderingen, en ze zijn bindend.</p>
                    <p>Als we iets veranderen in deze Gebruiksvoorwaarden, zal de verandering gereflecteerd worden in
                        de "laatst aangepast datum". Je gaat akkoord dat je regelmatig deze voorwaarden zal bekijken en
                        de pagina te verversen wanneer je dat doet. Je gaat akkoord en erkent de datum van de laatste
                        wijziging van deze voorwaarden. Als de "laast aangepast" datum onveranderd is gebleven
                        vergeleken met de laatste keer dat je de voorwaarden hebt bekeken, zijn deze onveranderd. Aan
                        de andere kant, als de datum wel is veranderd, dan zijn er wijzigingen gemaakt, en ga je
                        akkoord met het opnieuw bekijken en lezen van deze voorwaarden, en ga je akkoord met de nieuwe.</p>
                    <p>Alle verandering zijn onmiddellijk geldig wanneer we ze posten, en gelden voor het gebruik en
                        toegang tot de Websites vanaf dat moment. De vernieuwde versie vervangt elke vorige versie
                        onmiddellijk wanneer het gepost wordt, en de voorgaande versies zullen geen verder wettelijk
                        bindend effect hebben. Als je de nieuwe voorwaarden niet bekijken zoals ze gepost zijn, ga je
                        akkoord dat je je recht opgeeft om dat te doen, en dat je daarmee gebonden bent aan de
                        vernieuwde voorwaarden, zelfs als je de nieuwe voorwaarden niet hebt bekeken. Je bent op de
                        hoogte van veranderingen en het niet bekijken van de nieuwe termen is eigen nalatigheid. Door
                        deze websites verder te gebruiken nadat een vernieuwde versie van de Gebruiksvroowaarden door
                        ons werd beschikbaar gesteld, erken je en ga je akkoord met dergelijke wijziging.</p>
                    <h3>Over onze websites</h3>
                    <p>De Websites laten je toe om verschillende types van volwassen content door geregistreerde en
                        ongeregistreerde gebruikers te uploaden, delen en gewoon te kijken; modellen die afbeeldingen
                        van volwassen-gerichte content wilen delen en zien, inclusief seksueel explicitie beelden.
                        Daarnaast bevatten de Websites bepaalde teksten, berichten, bestanden, data, informatie,
                        beelden, foto's, video's, opnames, materialen, code of content van eender welke vorm en andere
                        materialen gepost/geüpload door gebruikers, modellen.</p>
                    <p>De Websites kunnen links naar Websites van derde partijen bevatten die geen eigendom zijn of
                        beheerd worden door de Websites. De Websites hebben geen controle over, en neemt geen
                        verantwoordelijkheid voor, de content, privacybeleiden, of handelingen van eender welke
                        Websites van derde partijen. Ook zullen en kunnen de Websites de content van eender welke derde
                        partij site niet censureren of aanpassen. Bijgevolg, moedigen we je aan om bewust te zijn van
                        wanneer je de Websites verlaat en de voorwaarden, condities, termen, en privacybeleiden van
                        elke Website die je bezoekt.</p>
                    <p>De Websites zijn voor je persoonlijk gebruik en zullen niet gebruikt worden voor commerciële
                        doeleinden behalve diegene die specifiek goedgekeurd zijn door de Websites.</p>
                    <p>Deze Websites zijn bestemd voor volwassen-gerichte content. Andere categorieën van content
                        kunnen naar eigen goeddunken verwijderd worden.</p>
                    <h3>Geldende wetgeving</h3>
                    <p>Deze Voorwaarden, je gebruik van de Websites, de relatie tussen jou en ons zal geregeerd worden
                        door de wetten van Cyprus, zonder achting tot conflictenrecht regels. Je akkoord dat: de
                        Websites als passieve Websites worden beschouwd die geen persoonlijke jurisdictie over ons,
                        ofwel specifiek of algemeen, in jurisdicties anders dan Cyprus. De strikte en exclusieve
                        jurisdictie en plaats voor eender welke actie of handeling die stamt uit deze Overeenkomst zal
                        gehouden worden in een geschikte rechtzaal gesitueerd in Limassol, Cyprus. Je gaat hierbij
                        akkoord met de jurisdictie en plaats van dergelijke Rechtzalen. Je stemt toe met de diensten
                        van processen in elke legale procedure. </p>
                    <p>Elke claim door jou dat zich voordoet in verband met deze voorwaarden zal compenseerbaar zijn
                        door monetaire schadevergoedingen en je zal in geen geval recht op voorlopige of andere
                        billijke vrijstelling.</p>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/2.0.7/lazysizes.min.js"></script>
</body>

</html>