<!DOCTYPE html>
<html data-campaign="12352"><head>
    <title>FNGame</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="/static/skcss/1cd7cf89d2.js"></script>
    <script src="/static/skcss/nr-1167.js"></script>
    <script src="/static/skcss/lp.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    
    <!-- base href="https://www.999games.online/" -->

    <link href="/static/skcss/css.css" rel="stylesheet">
    <link href="/static/skcss/app.css" rel="stylesheet">
    <link href="/static/skcss/90828.css" rel="stylesheet" media="screen">
    <link href="/static/skcss/90868.css" rel="stylesheet" media="screen">
    <link href="/static/skcss/90840.css" rel="stylesheet" media="screen">
</head>
<body class="pin ba webType SK sk_SK">
    
    <header data-auto-hide="0"></header>

    <main>
        <div id="call2action_logo"></div>
        <div id="call2action_before"></div>
        <div id="call2action">
        <div id="web_call2action_header"></div>
        <div id="web_call2action_main">                                                        
            <div id="call2action_mo">
                <div id="call2action_mo_sms_text">
                    <br>
                    Pošlite SMS s textom <span class="highlight">FNGAME 9098</span> pre <span class="highlight">9099</span>
                    <a>
                    <br>
                    <br>
                    ALEBO
                    <br>
                    Kliknutím na toto tlačidlo vygenerujete SMS
                    </a>
                </div>
            <a  href="sms:9099;?&amp;body=FNGAME AKTIVACIA PREDPLATENEJ SLUZBY FNGAME, CENA 6 EUR/TYZDEN 9098" class="button pulse">Odoslať</a>
        </div>                                            
        </div>
            <div id="web_call2action_footer" class="ba">
                <p class="service">
                Vypnutie: odošlite FNGAME STOP na 9099
                </p>        
            </div>
        </div>

        <div id="call2action_after">
        </div>
    </main>

    <footer>
        <p class="service">
            Poslaním správy s textom FNGAME na číslo 9099 si predplatite službu FNGAME : Služba stojí pre Telekom a Orange a O2 a 4KA <a id="tariff">6,00 EUR ( 3 x 2,00 EUR)</a>
            vrátane DPH týždenne.
            Môžu Vám byt naúčtované dodatočné poplatky za prenos dát. 
            Odpovedaním potvrdzovacou SMS súhlasíte s prihlásením sa na odber našej 
            služby. Doba platnosti sa automaticky predlžuje dovtedy, kým nepošlete 
            správu s textom FNGAME STOP na číslo 9099.
            Tento obsah sa dá použiť na všetkých mobilných zariadeniach. Ak 
            potrebujete informácie, zavolajte na 0233000028. alebo pošlite email na 
            info-sk@mobileinfo.biz.
            Zaslaním potvrdzujúcej SMS si predplatite službu zasielania SMS 
            správ. Ak máte menej ako 18 rokov, musíte požiadat o súhlas svojich 
            rodičov. Vašou odpovedou prostredníctvom potvrdzujúcej SMS súhlasíte s 
            prihlásením sa na odber našej služby.
            Centrum pomoci 0233000028 alebo e-mailová podpora 
            info-sk@mobileinfo.biz dostupná pondelok - piatok 9-17h.

            Vlastnik služby: Foxseek, www.foxseek.com, 0233000028
            SMS agregator pre Slovensko: goodgames, s.r.o. fn.3499games.com, 
            0948436649, support@foxseek.com
        </p>

        <p class="links">
            <a href="/sk/terms">Všeobecné obchodné podmienky</a> -
            <a href="/sk/privacy">Zásady ochrany osobných údajov</a> -
            <a href="/sk/help">Pomoc</a>
        </p>

        <p class="copyrights">
            FNGAME ponúka Foxseek Media Limited
        </p>            
    </footer>
    <script src="/static/skcss/jquery.js"></script>
    <script src="/static/skcss/app.js"></script>
    <script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.nr-data.net","licenseKey":"1cd7cf89d2","applicationID":"31317248","transactionName":"MwYAbUUCV0EEUEZfCgpMI1pDClZcSlBTWxUFCgVXaApXVgBL","queueTime":0,"applicationTime":63,"atts":"H0EXGw0YRB5HUhAMHhke","errorBeacon":"bam.nr-data.net","agent":""}</script>
</body>
</html>