<html>
<head>
    <style type="text/css">
        ng\:form {
            display: block;
        }

    </style>

    <meta charset="utf-8">
    <title>GbbGame</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link rel="stylesheet" href="/static/lancio_it/unsub.css">
    <meta name="Hong Kong Blue Bubble Technology Co, Limited -web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <META http-equiv="refresh" CONTENT="5;URL=/" >
</head>

<body id="top" background="http://www.w3school.com.cn/clouds.gif" style="margin-left: auto;margin-right: auto;
    color: #f9fbda;
    background: #0d2134;
    max-width: 480px;">
<center>
    <div>
        <br>

        <img src="/static/img/logo.png" style="    height: 54px;">
        <br>

        <br>
        <br>
        {{/*<img src="/static/lancio_it/success.png" style="height: 113px;">*/}}
        <br>
        <br>
        {{/*<p style="font-size: 23px;font-weight: bold;">Disattivazione avvenuta con successo</p>*/}}
        <p STYLE="    font-size: 21px;">Gentile utente il servizio è stato disattivato</p>
        <br>

        {{/*<button CLASS="btn btn-success" style="FONT-SIZE: 21px;" onclick="location.href='/'">Determinare</button>*/}}
        {{/*<button onclick="location.href='/'" style="*/}}
        {{/*color: #fff;*/}}
        {{/*background: #2fa0ff;*/}}
        {{/*font-size: 32px;*/}}
        {{/*padding: 3px 15px;*/}}
        {{/*border-radius: 14px;*/}}
        {{/*font-weight: 800;*/}}
        {{/*">Tornare*/}}
        {{/*</button>*/}}
        <br>
        <br>
        <br>
        {{/*<img src="/static/lancio_it/banner.jpg" style="margin-top: 43px;width: 100%;max-width: 480px;">*/}}
    </div>

</center>


{{/*<script>*/}}

{{/*function redirect_sub() {*/}}
{{/*var myselect = document.getElementById("operator");*/}}
{{/*var index = myselect.selectedIndex;*/}}
{{/*var operotr = myselect.options[index].value;*/}}
{{/*if (operotr == "0") {*/}}
{{/*alert("Per favore seleziona il tuo operatore!")*/}}
{{/*} else {*/}}
{{/*window.location.href = "https://it.xxxx//subrequest/wifi?carrID=" + operotr + "&trackID=" + GetQueryString("trackID");*/}}
{{/*}*/}}
{{/*}*/}}

{{/*function GetQueryString(name) {*/}}
{{/*var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");*/}}
{{/*var r = window.location.search.substr(1).match(reg);*/}}
{{/*if (r != null) return unescape(r[2]);*/}}
{{/*return "";*/}}
{{/*}*/}}

{{/*</script>*/}}

</body>
</html>
