<html lang="it">
<head>
    <meta name="Content-Security-Policy">
    <meta name="Access-Control-Allow-Origin" content="SAMEORIGIN">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">


    <title>GBB Game Condiazioni</title>

    <style type="text/css">
        body {
            padding: 0 6px;
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            -webkit-font-smoothing: antialiased !important;
            background: #071d25 !important;
            max-width: 480px;
            margin: auto;
        }

        /*a {*/
        /*text-decoration: none;*/
        /*}*/

        a:link {
            color: inherit !important;
        }

        a:active {
            color: inherit !important;
        }

        a:visited {
            color: inherit !important;
        }

        a:hover {
            color: inherit !important;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        .oggetto {
            width: 100%;
            color: white;
            position: relative;
            float: left;
            cursor: pointer;
            margin-top: -5px;
            line-height: 1em;
        }

        .iteHong Kong Blue Bubble Technology Co, Limited {
            background: -moz-radial-gradient(center, circle closest-corner, # 0%, # 100%);
            background: -ms-radial-gradient(center, circle closest-corner, # 0%, # 100%);
            background: -o-radial-gradient(center, circle closest-corner, # 0%, # 100%);
            background: -webkit-radial-gradient(center, circle closest-corner, # 0%, # 100%);
            background: radial-gradient(center, circle closest-corner, # 0%, # 100%);
            color: #FFFFFF !important;
        }
    </style>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; -webkit-font-smoothing: antialiased !important;">
<div style="margin-bottom: 13px;">
    <center><img src="/static/img/logo.png" style="margin-top: 6px;max-width: 206px;"></center>
</div>
<div class="iteHong Kong Blue Bubble Technology Co, Limited  oggetto" nn="html"
     style="position: relative;text-align: left;font-size: 0.8em;color: #ffffff !important;line-height: 19px;margin-bottom: 16px;">
    <h2 style="text-align: center;">INFORMATIVA SUL TRATTAMENTO DEI DATI PERSONALI</h2>
    <h5 style="margin-top: -12px;">(Regolamento Generale UE sulla Info &amp; Privacy n. 679/2016 – Art. 13) </h5>
    <div id="indice">

        <h5>INDICE</h5>
        <p style="
    font-size: 13px;
    line-height: 19px;
    color: #ffb209;
">
            <a href="#Estremi">
                <b>Estremi identificativi e dati di contatto del Titolare del trattamento.</b>
            </a>
            <br>
            <br>
            <a href="#Dati">
                <b>Dati di contatto del Responsabile della Info &amp; Privacy Personali (RDP – DPO).</b>
            </a>
            <br>
            <br>
            <a href="#Informazioni">
                <b>Informazioni sull’età minima per la registrazione ai Servizi. Trattamento di dati di minori di età
                    ai sensi dell’art. 8 del Regolamento.</b>
            </a>
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#Finalità_A">
                <b>Finalità primarie del trattamento dei dati
                    personali. </b>
            </a>
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#Finalità_1">
                <b>Finalità pre-contrattuali e contrattuali di
                    adempimento del Contratto con l’interessato.</b>
            </a>
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="#Finalità_2">
                <b>Finalità di adempimento di obblighi previsti
                    dalla legge, da regolamenti o da normative UE. Finalità di far valere o difendere diritti.</b>
            </a>
            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#Finalità_3">
                <b>Finalità di consentire la registrazione dell’interessato
                    ai Servizi della Società.</b>
            </a>
            <br>
            <br>
            <a href="#Ambito">
                <b>Ambito di comunicazione e diffusione dei dati personali per il perseguimento delle finalità primarie
                    del trattamento. </b>
            </a>
            <br>
            <br>
            <a href="#Obbligatorietà">
                <b>Obbligatorietà o facoltatività del consenso per il perseguimento delle finalità primarie del
                    trattamento
                    dei dati personali.</b>
            </a>
            <br>
            <br>
            <a href="#Tempi">
                <b>Tempi di conservazione dei dati personali.</b>
            </a>
            <br>
            <br>
            <a href="#Esercizio">
                <b>Esercizio dei diritti da parte dell’interessato.</b>
            </a>
            <br>
            <br>
            <a href="#InformazioniSpecifiche">
                <b>Informazioni specifiche sul diritto alla portabilità dei dati personali.</b>
            </a>
            <br>
            <br>
            <a href="#Informazioni_di">
                <b>Informazioni di sintesi sugli altri diritti dell’interessato.</b>
            </a>
        </p>
        <br>
        <br>
        <div>
            La società Hong Kong Blue Bubble Technology Co, Limited , con sede legale in Unit E, 10th Floor, Cnt Tower '
            No. 338 Hennessy Road ' Wan Chai, Hong Kong, (di seguito, la “Società”) informa di essere Titolare del
            trattamento
            ai sensi degli articoli 4, n. 7) e 24 del Regolamento UE 2016/679 del 27 aprile 2016 relativo alla
            protezione
            delle persone fisiche con riguardo al trattamento dei dati personali (di seguito, “Regolamento”) dei
            dati personali raccolti sul sito web
            <a href="https://bluebubblehk.com/">https://bluebubblehk.com/</a> e/o su altre piattaforme di comunicazione
            elettronica disponibili all’utente
            (di seguito, complessivamente, il “Sito”) con particolare riferimento:
            <br>(1) ai trattamenti relativi alle procedure di registrazione degli utenti sul Sito (di seguito, con i
            termini “Interessato” o “Utente”, sia al singolare che al plurale, si intenderanno complessivamente le
            persone fisiche maggiori di età, le persone fisiche di anni quattordici in proprio; i minori di anni
            quattordici autorizzati da chi esercita la potestà genitoriale);
            <br>(2) ai trattamenti connessi alla fornitura da parte della Società dei servizi di vendita mediante Hong
            Kong Blue Bubble Technology Co, Limited
            remote payment di contenuti multimediali in modalità streaming, broadcasting e download, giochi, community
            e servizi inerenti, nonché contenuti digitali quali wallpaper, suonerie, video, immagini, servizi meteo,
            servizi news, oroscopo, contenuti per adulti (complessivamente, i “Contenuti Digitali”);
            <br>(3) ai trattamenti connessi alla fornitura da parte della Società della piattaforma abilitante per la
            fruizione on line dei Contenuti Digitali pagati dagli Utenti mediante credito telefonico o di altro tipo
            messo a disposizione dal proprio operatore telefonico. Di seguito, i servizi e i trattamenti come appena
            sopra descritti ai nn.
            <br>(1), (2) e (3) sono complessivamente definiti “Servizi”.
            <br>
            <br> Per trattamento di dati personali si intende qualsiasi operazione o insieme di operazioni, compiute
            con o senza l'ausilio di processi automatizzati e applicate a dati personali o insiemi di dati personali,
            anche se non registrati in una banca di dati, come la raccolta, la registrazione, l'organizzazione, la
            strutturazione, la conservazione, l'elaborazione, la selezione, il blocco, l'adattamento o la modifica,
            l'estrazione, la consultazione, l'uso, la comunicazione mediante trasmissione, la diffusione o qualsiasi
            altra forma di messa a disposizione, il raffronto o l'interconnessione, la limitazione, la cancellazione
            o la distruzione.
            <br>
            <br> I dati verranno trattati per le seguenti finalità, con il supporto di mezzi informatici o telematici.
            <br>
            <br> Resta ovviamente fermo il trattamento dei dati personali effettuato dall’operatore telefonico del
            cliente
            (Tim S.p.A., Vodafone Italia S.p.A., Wind Tre S.p.a.) nella qualità di titolare autonomo rispetto alla
            Società. L’operatore tratta difatti come titolare autonomo i dati personali dell’Utente per la fatturazione
            del contenuto digitale acquistato.
            <br>
            <br>
        </div>

        <div>
            <br>
            <h5 id="Estremi">Estremi identificativi e dati di contatto del Titolare del trattamento.</h5>
            Come richiesto dalle Linee Guida in materia di trasparenza WP 260/2017, si forniscono in prima battuta gli
            estremi identificativi
            del Titolare del trattamento dei dati e tutte le informazioni per contattarlo rapidamente
            <br>
            <br> Hong Kong Blue Bubble Technology Co, Limited
            <br> Sede legale: Unit E, 10th Floor, Cnt Tower ' No. 338 Hennessy Road ' Wan Chai, Hong Kong
            <br> Tel:+85221395855
            {{/*<br> Fax:*/}}
            <br> Email: <strong style="font-size: 14px;"> chensihao@bluebubble.com.cn</strong>
            <br> Sito web:
            <a href="https://bluebubblehk.com/">https://bluebubblehk.com/</a>
        </div>
        <div>
            <br>
            <h5 id="Dati">Dati di contatto del Responsabile della Info &amp; Privacy Personali (RDP – DPO).</h5>
            Sempre come richiesto dalle Linee Guida sul Responsabile della Info &amp; Privacy Personali (RDP/DPO)
            WP243/2016, si forniscono
            inoltre gli estremi di contatto del Responsabile della Info &amp; Privacy (RPD – DPO).
            <br>
            <br> Recapito geografico: Unit E, 10th Floor, Cnt Tower ' No. 338 Hennessy Road ' Wan Chai, Hong Kong
            <br>Numero di telefono dedicato del DPO: +852 25290318
            <br>Email dedicata del DPO: <strong style="font-size: 14px;"> chensihao@bluebubble.com.cn</strong>
            <br>Sito web:
            <a href="https://bluebubblehk.com/">https://bluebubblehk.com/</a>

        </div>
        <div>
            <br>
            <h5 id="Informazioni">Informazioni sull’età minima per la registrazione al Sito. Trattamento di dati di
                minori di età ai sensi
                el’art. 8 del Regolamento.</h5>
            La registrazione al Sito è consentita soltanto a persone maggiori di età, ovvero a soggetti minori di età
            che abbiano già
            compiuto 16 anni: ai sensi dell’art. 8 del Regolamento il minore che abbia compiuto i quattordici anni
            può esprimere in proprio il consenso al trattamento di propri dati personali in relazione all’offerta
            dei servizi offerti dalla Società sul Sito.
            <br> Sempre in base a quanto previsto dall’art. 8 del Regolamento, il trattamento dei dati personali del
            minore di età che non abbia compiuto per lo meno quattordici anni può fondarsi su un consenso validamente
            prestato dal minore esclusivamente a condizione che egli sia stato autorizzato da chi esercita la
            responsabilità
            genitoriale a prestare il consenso oppure a condizione che il consenso sia prestato direttamente
            dall’esercente
            la potestà genitoriale. Non è consentita la registrazione di utenti minori di anni sedici non autorizzati.
            Registrandosi al Sito l’interessato conferma di essere in possesso dei predetti requisiti di età.


        </div>
        <div>
            <br>
            <h5 id="Finalità_A">A. Finalità primarie del trattamento dei dati personali. </h5>

            <p style="margin-top: -17px;">
                <b id="Finalità_1">A.1 Finalità pre-contrattuali e contrattuali di adempimento del contratto di
                    abbonamento ai Servizi
                    stipulato con l’interessato.</b>
            </p>
            Il trattamento dei dati personali richiesti che l’interessato è tenuto a indicare persegue le finalità di
            rendere possibile
            la stipula di un contratto di abbonamento ai Servizi tra l’interessato e la Società. Per “Contratto”
            si intende complessivamente, e a seconda dei casi, la stipula di uno o più rapporti contrattuali con
            l’interessato per l’attivazione di un abbonamento ai Servizi e ai Contenuti Digitali offerti dalla Società
            in base alle condizioni generali di volta in volta applicabili resi accessibili dalla Società attraverso
            il Sito.
            <br>Per consentire alla Società di adempiere alle proprie obbligazioni ai sensi del Contratto, saranno
            trattati
            i relativi dati personali degli utenti interessati, rappresentati dalla utenza di telefonia Hong Kong Blue
            Bubble Technology Co, Limited (in
            associazione alla denominazione del Contenuto e/o dei Contenuti Digitali acquistati, ai relativi dati
            di attivazione, disattivazione) e agli altri dati (es:l'indirizzo di posta elettronica, o il dato riferibile
            all'indirizzo IP) specificandosi che la Società tratterà tali informazioni solo per finalità di erogazione
            del Contenuto Digitale e di migliore e più efficace gestione dei Servizi. Inoltre, prima della conclusione
            del Contratto, il trattamento dei dati personali dell’interessato potrebbe altresì perseguire finalità
            pre-contrattuali, come ad esempio rispondere a specifiche richieste provenienti dall’interessato, prestare
            assistenza tecnica e negoziale per il processo di registrazione e/o di erogazione dei Servizi. A titolo
            esemplificativo e non esaustivo, e per maggiore trasparenza nei confronti dell’interessato, le finalità
            primarie del trattamento connesse all’adempimento del Contratto (in ogni sua fase) possono essere nello
            specifico anche finalità di: fornitura dei Servizi, dei Contenuti Digitali, manutenzione e assistenza
            tecnica di rete, adempimento delle attività tecniche verso aggregatori e verso operatori telefonici (per
            maggiore trasparenza ricordiamo che gli operatori telefonici trattano i dati dei propri clienti
            esclusivamente
            nell’ambito delle attività circoscritte al contratto di telefonia sottoscritto da ciascun Utente con
            il proprio operatore di appartenenza ed al fine di permettere con il credito telefonico l’acquisto del
            servizio prescelto) per consentire quanto tecnicamente necessario ad essi per l’adempimento dei loro
            obblighi contrattuali verso i propri clienti; gestione di eventuali reclami e/o contenziosi, archiviazione
            delle utenze telefoniche, utilizzo dei dati personali per effettuare comunicazioni relative allo svolgimento
            del rapporto contrattuale instaurato, verifiche sul corretto adempimento delle obbligazioni assunte,
            contestazione di comportamenti illeciti o fraudolenti, recupero di eventuali crediti per Servizi e/o
            Contenuti Digitali non pagati.
            <br>
            <br>Ai sensi dell’articolo 6 del Regolamento, la base giuridica del trattamento, in tutti i casi e
            trattamenti
            previsti dal presente paragrafo A, è rappresentata da quanto segue: il trattamento è necessario
            all'esecuzione
            del Contratto (o all'esecuzione di misure precontrattuali adottate su richiesta dell’interessato).
            <br>
            <br>Le categorie di dati personali oggetto del trattamento sono rappresentate da dati personali comuni
            rappresentati
            esclusivamente dall’utenza di telefonica Hong Kong Blue Bubble Technology Co, Limited dell’interessato, in
            associazione al nome del servizio
            acquistato, ai relativi dati di attivazione, disattivazione, etc.


            <p>
                <br>
                <b id="Finalità_2">A.2 Finalità di adempimento di obblighi previsti dalla legge, da regolamenti o da
                    normative UE. Finalità
                    di far valere o difendere diritti.</b>
            </p>
            In secondo luogo, i dati personali saranno altresì trattati anche per adempiere agli obblighi previsti dalla
            legge, da un
            regolamento o dalla normativa comunitaria e per finalità civilistiche, amministrative, contabili e fiscali.
            <br>
            <br>Infine, i dati personali potranno essere trattati per far valere o difendere nelle sedi competenti
            (giudiziarie,
            arbitrali, amministrative, etc) diritti di qualsiasi natura, siano essi connessi o meno al Contratto
            (es: inadempimento) o ad altri termini e condizioni legali del Sito.
            <br>
            <br>La base giuridica del trattamento, in questi casi, è rappresentata dalla necessità di adempiere ad un
            obbligo legale al quale è soggetta la Società. Inoltre, nel caso di azioni per far valere o difendere
            un diritto in giudizio, la base giuridica del trattamento è rappresentata dall’interesse legittimo.
            <br>
            <br>Le categorie di dati personali oggetto del trattamento sono rappresentate da dati personali comuni.
            <p>
                <br>
                <b id="Finalità_3">A.3 Finalità di consentire la registrazione dell’interessato al Sito web della
                    Società.</b>
            </p>
            Il processo di registrazione consiste nella compilazione di un modulo on line nel quale è richiesto
            all’utente di indicare
            taluni dati personali per l’attivazione di credenziali di autenticazione (login + password) con le quali
            successivamente accederà a tutte le aree e ai servizi riservati agli utenti registrati.
            <br>Quindi ulteriori finalità primarie del trattamento sono rappresentate dalla necessità di consentire
            l’espletamento
            delle richieste procedure di previa registrazione on-line e la creazione di un account nonché di consentire
            ai gestori del Sito la generazione e la successiva gestione tecnica e amministrativa (ivi incluse le
            finalità di fornire supporto e assistenza tecnica su richiesta) dell’account, dei Client ID, dei codici
            di attivazione, delle password e similari credenziali di autenticazione così come creati nell'ambito
            del processo di registrazione. In tali finalità primarie e principali del trattamento dei dati
            dell’interessato
            registrato rientrano anche quelle di consentirgli di accedere alle pagine web del Sito e, ove è possibile,
            fruire di servizi on-line e di assistenza pre e post-contrattuale per la gestione di ogni profilo
            contrattuale,
            amministrativo, tecnico o legale conseguente. Con riferimento a tale ultimo trattamento, la finalità
            è altresì quella di gestire qualsiasi tipo di richiesta di assistenza – tecnica, commerciale e/o di natura
            contrattuale – pervenuta alla Società interessate e fornire i relativi riscontri.
            <br>
            <br>Infine, tra le finalità primarie rientrano anche taluni trattamenti tecnici svolti mediante i cosiddetti
            “cookies tecnici”. In questi casi specifici, i trattamenti tecnici sono finalizzati unicamente ad effettuare
            la trasmissione di una comunicazione su una rete di comunicazione elettronica nella misura strettamente
            necessaria alla Società per fornire i servizi esplicitamente richiesti dall’utente contrattualizzato.
            <br>
            <br>La base giuridica del trattamento, in questi casi, è rappresentata dalla necessità di dare esecuzione
            al Contratto di cui l’interessato è parte o a misure precontrattuali adottate su richiesta dello stesso.
            <br>
            <br>Le categorie di dati personali oggetto del trattamento sono rappresentate da dati personali comuni.

        </div>
        <div>
            <br>
            <h5 id="Ambito">B. Ambito di comunicazione e diffusione dei dati personali per il perseguimento delle
                finalità primarie
                del trattamento. </h5>
            In tutti i casi sopra illustrati - ed in base alla applicabile disciplina normativa di cui al Regolamento e
            al vigente decreto
            legislativo italiano di coordinamento della normativa nazionale sulla Info &amp; Privacy personali –
            la Società comunicherà i dati personali ai seguenti destinatari esterni. Come richiesto dalle Linee Guida
            in materia di trasparenza WP 260/2017, si forniscono le relative indicazioni sui destinatari della
            comunicazione
            dei dati in base agli obblighi ivi previsti (obbligatoria indicazione – ove possibile - dei soggetti
            e delle entità che ricevono in comunicazione i dati, ivi inclusi responsabili esterni, contitolari del
            trattamento, responsabili interni).
            <br>
            <br>1.
            <div style="margin-left: 13px;margin-top: -17px;">a terzi fornitori di servizi cui la comunicazione sia
                necessaria per l'adempimento delle prestazioni
                oggetto del Contratto. Come richiesto dalle Linee Guida in materia di trasparenza WP 260/2017 ove
                il Titolare scelga di indicare per categorie i destinatari dei dati, egli deve giustificare perché
                ritiene tale approccio corretto e in ogni caso il riferimento alla categoria non deve essere generico
                ma specifico, facendo riferimento alle attività svolte, al settore, alla industria, e alla ubicazione
                territoriale dei destinatari individuati per categoria. In tale prospettiva la Società ritiene in
                tale caso corretto l’approccio per categorie di destinatari della comunicazione in quanto la indicazione
                nominativa dei fornitori e sub-fornitori sarebbe esorbitante. E’ sempre possibile per l’interessato
                fare comunque richiesta informale alla email<strong style="font-size: 14px;">  chensihao@bluebubble.com.cn</strong> dell’elenco completo dei
                destinatari
                dei dati. I terzi destinatari dei dati personali sono rappresentati dalle seguenti categorie:
                aggregatori
                e hub tecnologici che intervengono nei processi di fornitura dei Servizi e dei Contenuti Digitali;
                fornitori del comparto dei servizi ICT per servizi di installazione, assistenza e manutenzione di
                impianti e sistemi informatici e telematici e di tutti i servizi funzionalmente connessi e necessari
                per l’adempimento delle prestazioni oggetto del Contratto; soggetti che svolgono attività di
                archiviazione
                della documentazione relative ai rapporti intercorsi con l’interessato; soggetti che forniscono servizi
                per la gestione delle piattaforme telematiche della Società; soggetti che svolgono attività di
                controllo,
                revisione e certificazione delle attività poste in essere dalla Società; soggetti che svolgono attività
                di recupero crediti; società che svolgono attività di assistenza contrattuale alla clientela; persone,
                società o studi professionali, che prestano attività di assistenza, consulenza o collaborazione alla
                Società in materia contabile, amministrativa, legale, tributaria e finanziaria relativamente al
                Contratto;
                società e soggetti istituzionali che operano nell’ambito della prevenzione di frodi;
            </div>
            <br>
            <br>
            <span>2.</span>
            <div style="margin-left: 13px;margin-top: -16px;">ad altri addetti interni e persone autorizzate al
                trattamento facenti parte dell’organigramma della Società,
                in base a ruoli o funzioni e/o a specifiche procedure aziendali interne. I dati personali saranno
                resi accessibili solo a coloro i quali ne abbiano necessità a causa della propria mansione o posizione
                gerarchica. Tali soggetti sono opportunamente individuati quali persone autorizzate al trattamento
                ai sensi degli articoli 29 e 32 del Regolamento e sono obbligati all’impegno legale alla riservatezza
                e appositamente istruiti al fine di evitare perdite, distruzione, accessi non autorizzati o trattamenti
                non consentiti dei dati stessi.
            </div>

            <br>I dati personali non saranno oggetto di diffusione.

            <p>
                <br>
                <b id="Obbligatorietà">B.1. Obbligatorietà o facoltatività del consenso per il perseguimento delle
                    finalità primarie del
                    trattamento dei dati personali. </b>
            </p>
            In tutti i casi sopra illustrati ai Paragrafi A e B (per le ipotesi di comunicazione a terzi destinatari) –
            e viste le basi
            giuridiche di cui all’art. 6 del Regolamento – la Società non ha l’obbligo di acquisire lo specifico
            consenso al trattamento dell’interessato. Tutti i trattamenti sopra illustrati perseguono infatti finalità
            primarie per le quali il Regolamento esclude la necessità di acquisire un consenso specifico, applicandosi
            in alternativa differenti basi giuridico-legali che legittimano e rendono lecito il trattamento in assenza
            di consenso. Si tratta in particolare delle basi giuridiche del trattamento necessario per eseguire obblighi
            derivanti da un contratto del quale è parte l'interessato o per adempiere, prima della conclusione del
            contratto, a specifiche richieste dell'interessato; del trattamento necessario per adempiere ad un obbligo
            previsto dalla legge, da un regolamento o dalla normativa comunitaria o – infine – del trattamento
            necessario
            per finalità di azione o difesa di un diritto in sede giudiziaria o per perseguire un legittimo interesse
            della Società.
            <br>
            <br>Laddove l’interessato non intendesse conferire comunque i dati personali richiesti e necessari in base
            a quanto precede, la conseguenza sarebbe quella della impossibilità di procedere alla esecuzione del
            Contratto e alla erogazione dei Servizi che di volta in volta ne sono oggetto.
            <p>
                <br>
                <b id="Tempi">B2. Tempi di conservazione dei dati e altre informazioni.</b>
            </p>

            I dati saranno conservati per i tempi definiti dalla normativa di riferimento, che di seguito si specificano
            ai sensi dell’art.
            13, comma 2, lettera (a) del Regolamento: dieci anni decorrenti dalla cessazione del rapporto contrattuale
            per i documenti e relativi dati di natura civilistica, contabile e fiscale come previsti dalle leggi
            in vigore.
            <br>
            <br>I dati personali non saranno oggetto di trasferimento verso Paesi terzi od organizzazioni internazionali
            al di fuori della Unione Europea.


        </div>

        <div>
            <br>
            <h5 id="Esercizio">C. Esercizio dei diritti da parte dell’interessato. </h5>
            Ai sensi degli articoli 13, comma 2, lettere (b) e (d), da 15 a 22 del Regolamento, si informa l’interessato
            che:
            <br>
            <br> a)
            <div style="margin-left: 17px;margin-top: -13px;">ha il diritto di chiedere alla Società l'accesso ai dati
                personali, la rettifica o la cancellazione degli
                stessi o la limitazione del trattamento che lo riguardano o di opporsi al loro trattamento, nei casi
                previsti;
            </div>
            b)
            <div style="margin-left: 17px;margin-top: -13px;">ha il diritto di proporre – in Italia - un reclamo al
                Garante per la Info &amp; Privacy personali, se
                Autorità competente, seguendo le procedure e le indicazioni pubblicate sul sito web ufficiale
                dell’Autorità
                su www.garanteprivacy.it;
            </div>
            c)
            <div style="margin-left: 17px;margin-top: -13px;">in alternativa, ha diritto di proporre un reclamo ad altra
                competente Autorità privacy europea ubicata
                nel luogo di abituale residenza o domicilio in Europa di chi contesta una violazione dei propri diritti,
                seguendo le procedure e le indicazioni del caso;
            </div>
            d)
            <div style="margin-left: 17px;margin-top: -13px;">le eventuali rettifiche o cancellazioni o limitazioni del
                trattamento effettuate su richiesta dell’interessato
                - salvo che ciò si riveli impossibile o implichi uno sforzo sproporzionato – saranno comunicate dalla
                Società a ciascuno dei destinatari cui sono stati trasmessi i dati personali. La Società potrà
                comunicare
                all'interessato tali destinatari qualora l'interessato lo richieda.
            </div>

            <br>L’esercizio dei diritti non è soggetto ad alcun vincolo di forma ed è gratuito. Solo in caso di
            richiesta
            di ulteriori copie dei dati richieste dall'interessato, la Società potrà addebitare un contributo spese
            ragionevole basato sui costi amministrativi. Se l'interessato presenta la richiesta mediante mezzi
            elettronici,
            e salvo indicazione diversa dell'interessato, le informazioni sono fornite in un formato elettronico
            di uso comune. Lo specifico indirizzo della Società per trasmettere istanze di esercizio dei diritti
            come riconosciuti dal Regolamento è il seguente: <strong style="font-size: 14px;"> chensihao@bluebubble.com.cn</strong>. Non sono richieste altre
            formalità.
            Il riscontro verrà dato nei termini previsti dall’articolo 12, comma 3 del Regolamento (“Il titolare
            del trattamento fornisce all'interessato le informazioni relative all'azione intrapresa riguardo a una
            richiesta ai sensi degli articoli da 15 a 22 senza ingiustificato ritardo e, comunque, al più tardi entro
            un mese dal ricevimento della richiesta stessa. Tale termine può essere prorogato di due mesi, se
            necessario,
            tenuto conto della complessità e del numero delle richieste. Il titolare del trattamento informa
            l'interessato
            di tale proroga, e dei motivi del ritardo, entro un mese dal ricevimento della richiesta. Se l'interessato
            presenta la richiesta mediante mezzi elettronici, le informazioni sono fornite, ove possibile, con mezzi
            elettronici, salvo diversa indicazione dell'interessato”)
            <br>
            <br> In base a quanto previsto dalle Linee Guida in materia di trasparenza WP 260/2017 emanate dal Gruppo
            dei Garanti UE, nella indicazione dei diritti dell’interessato il titolare del trattamento deve specificare
            un sommario/sintesi di ciascun diritto in questione e deve fornire separate indicazioni sul diritto alla
            portabilità.

        </div>
        <div>
            <br>
            <h5 id="InformazioniSpecifiche">Informazioni specifiche sul diritto alla portabilità dei dati
                personali.</h5>
            La Società informa l’interessato circa lo specifico diritto alla portabilità. L’articolo 20 del Regolamento
            generale sulla
            Info &amp; Privacy introduce il nuovo diritto alla portabilità dei dati. Tale diritto consente
            all’interessato
            di ricevere i dati personali forniti alla Società in un formato strutturato, di uso comune e leggibile
            da dispositivo automatico, e - a certe condizioni - di trasmetterli a un altro titolare del trattamento
            senza impedimenti.
            <br>
            <br>Sono portabili i soli dati personali che (a) riguardano l’interessato, e (b) sono stati forniti
            dall’interessato
            alla Società; (c) sono trattati elettronicamente nell’ambito della stipula di un contratto o sulla base
            del consenso dell’interessato.
            <br>
            <br>La portabilità dei dati comprende il diritto dell’interessato di ricevere un sottoinsieme dei dati
            personali
            che lo riguardano trattati dalla Società e di conservarli in vista di un utilizzo ulteriore per scopi
            personali. Tale conservazione può avvenire su un supporto personale o su un cloud privato, senza comportare
            necessariamente la trasmissione dei dati a un altro titolare. La portabilità è una sorta di integrazione
            e rafforzamento del diverso diritto di accesso ai dati personali, pure previsto dall’art. 15 del
            Regolamento.
            <br>
            <br>Nel caso l’interessato richieda la portabilità unitamente alla trasmissione diretta dei suoi dati ad
            altro titolare del trattamento, si ricorda che tale diritto è sottoposto alla condizione della fattibilità
            tecnica: l’art. 20, comma 2 del Regolamento prevede infatti che i dati possono essere trasmessi direttamente
            da un titolare all’altro su richiesta dell’interessato, e ove ciò sia tecnicamente possibile. La fattibilità
            tecnica della trasmissione da un titolare all’altro va valutata caso per caso. Il Considerando 68 del
            Regolamento chiarisce i limiti di ciò che è “tecnicamente fattibile”, specificando che “non dovrebbe
            comportare l’obbligo per i titolari di adottare o mantenere sistemi di trattamento tecnicamente
            compatibili”.
            Pertanto, la trasmissione diretta dei dati dalla Società ad altro titolare potrà avvenire se è possibile
            instaurare una comunicazione fra i sistemi dei due titolari (trasferente e ricevente) e in modo sicuro,
            e se il sistema ricevente è tecnicamente in grado di ricevere i dati in ingresso. Qualora impedimenti
            di ordine tecnico precludano la trasmissione diretta, la Società ne darà compiuta informazione e spiegazione
            di dettaglio all’interessato. Per quanto riguarda la interoperabilità dei formati atta a garantire la
            portabilità, la Società si adeguerà a quanto previsto dal comma 1021, lettera (b) della Legge 205/2017
            (“presenza di adeguate infrastrutture per l'interoperabili' dei formati con cui i dati sono messi a
            disposizione
            dei soggetti interessati”) se vigente dopo il 25 Maggio 2018 e comunque nei limiti di quanto chiarito
            dalle Linee Guida sulla portabilità dei dati WP242 emanate dal Gruppo dei garanti europei (“L’aspettativa
            è che il titolare trasmetta i dati personali in un formato interoperabile, ma ciò non configura alcun
            obbligo in capo agli altri titolari di supportare tale formato”).
            <br>
            <br>Si informa poi che ai sensi delle Linee Guida sulla portabilità dei dati WP242 i titolari che
            ottemperano
            a una richiesta di portabilità non hanno alcun obbligo specifico di verificare la qualità dei dati prima
            di trasmetterli. Inoltre, la portabilità non impone alla Società alcun obbligo di conservazione dei dati
            per un periodo superiore al necessario ovvero ulteriore rispetto a quello specificato. Soprattutto, non
            impone alcun obbligo ulteriore di conservazione dei dati personali al solo scopo di adempiere a una
            potenziale
            richiesta di portabilità.
            <br>
            <br> L’esercizio del diritto alla portabilità dei dati (o di qualsiasi altro diritto ai sensi del
            Regolamento)
            non pregiudica nessuno degli altri diritti. L’interessato può continuare a fruire e beneficiare del servizio
            offerto dalle Società anche dopo che sia compiuta un’operazione di portabilità. La portabilità non comporta
            la cancellazione automatica dei dati conservati nei sistemi della Società e non incide sul periodo di
            conservazione previsto originariamente per i dati oggetto di trasmissione. L’interessato può esercitare
            i diritti fintanto che prosegue il trattamento effettuato dalla Società.
            <br>
            <br>La Società si impegna ad evadere le richieste di portabilità entro 30 giorni dalla ricezione della
            richiesta,
            riservandosi, ai sensi dell’art. 12, comma 3 del Regolamento, la facoltà di riscontrare la richiesta
            nel termine più lungo di tre mesi nei casi di maggiore complessità. La richiesta di portabilità va
            indirizzata
            al seguente, specifico indirizzo email: <strong style="font-size: 14px;"> chensihao@bluebubble.com.cn</strong>.

        </div>
        <div>
            <br>
            <h5 id="Informazioni_di">Informazioni di sintesi sugli altri diritti dell’interessato.</h5>
            Il Regolamento conferisce all’interessato una serie di diritti che ai sensi delle Linee Guida sulla
            Trasparenza WP 260 è
            obbligatorio riassumere nel loro contenuto principale all’interno dell’informativa. Di seguito tali diritti
            si riassumono e sintetizzano:
            <br>
            <br>
            <b>Diritto di accesso (ai soli propri dati personali):</b> diritto di ottenere dal titolare del trattamento
            la conferma che sia o meno in corso un trattamento di dati personali che riguardano l’interessato e in
            tal caso, di ottenere l'accesso ai dati personal e di essere informato sulle finalità del trattamento;
            sulle categorie di dati personali in questione; sui destinatari o le categorie di destinatari a cui i
            dati personali sono stati o saranno comunicati, in particolare se destinatari di paesi terzi o
            organizzazioni
            internazionali; quando possibile, sul periodo di conservazione dei dati personali previsto oppure, se
            non è possibile, sui criteri utilizzati per determinare tale periodo; qualora i dati non siano stati
            raccolti presso l'interessato, diritto a ricevere tutte le informazioni disponibili sulla loro origine;
            diritto a ricevere l’informazione sulla esistenza di un processo decisionale automatizzato, compresa
            la profilazione e le informazioni significative sulla logica utilizzata, nonché l'importanza e le
            conseguenze
            previste di tale trattamento per l'interessato.
            <br>
            <br>
            <b>Diritto di rettifica e integrazione:</b> L’interessato ha il diritto di ottenere dal titolare del
            trattamento
            la rettifica dei dati personali inesatti che lo riguardano senza ingiustificato ritardo. Tenuto conto
            delle finalità del trattamento, l'interessato ha il diritto di ottenere l'integrazione dei dati personali
            incompleti, anche fornendo una dichiarazione integrativa. ll titolare del trattamento comunica a ciascuno
            dei destinatari cui sono stati trasmessi i dati personali le eventuali rettifiche, salvo che ciò si riveli
            impossibile o implichi uno sforzo sproporzionato. Il titolare del trattamento comunica all'interessato
            tali destinatari qualora l'interessato lo richieda.
            <br>
            <br>
            <b>Diritto alla cancellazione:</b> l'interessato ha il diritto di ottenere dal titolare del trattamento
            la cancellazione dei dati personali che lo riguardano senza ingiustificato ritardo (e ove non sussistano
            le specifiche ragioni dell’art. 17 comma 3 del Regolamento che al contrario sollevano il titolare
            dall’obbligo
            di cancellazione) se i dati personali non sono più necessari rispetto alle finalità per le quali sono
            stati raccolti o altrimenti trattati; oppure se l'interessato revoca il consenso e non sussiste altro
            fondamento giuridico per il trattamento; oppure se l'interessato si oppone al trattamento a scopi marketing
            o profilazione, anche revocando il consenso ; se i dati personali sono stati trattati illecitamente o
            riguardano informazioni raccolte presso minori, in violazione dell’art. 8 del Regolamento. ll titolare
            del trattamento comunica a ciascuno dei destinatari cui sono stati trasmessi i dati personali le eventuali
            cancellazioni salvo che ciò si riveli impossibile o implichi uno sforzo sproporzionato. Il titolare del
            trattamento comunica all'interessato tali destinatari qualora l'interessato lo richieda.
            <br>
            <br>
            <b>Diritto alla limitazione del trattamento:</b> l'interessato ha il diritto di ottenere dal titolare del
            trattamento la limitazione del trattamento (cioè, ai sensi della definizione di “limitazione del
            trattamento”
            fornita dall’articolo 4 del Regolamento: “il il contrassegno dei dati personali conservati con l'obiettivo
            di limitarne il trattamento in futuro”) quando ricorre una delle seguenti ipotesi: l'interessato contesta
            l'esattezza dei dati personali, per il periodo necessario al titolare del trattamento per verificare
            l'esattezza di tali dati personali; il trattamento è illecito e l'interessato si oppone alla cancellazione
            dei dati personali e chiede invece che ne sia limitato l'utilizzo; benché il titolare del trattamento
            non ne abbia più bisogno ai fini del trattamento, i dati personali sono necessari all'interessato per
            l'accertamento, l'esercizio o la difesa di un diritto in sede giudiziaria; l'interessato si è opposto
            al trattamento marketing, in attesa della verifica in merito all'eventuale prevalenza dei motivi legittimi
            del titolare del trattamento rispetto a quelli dell'interessato. Se il trattamento è limitato tali dati
            personali sono trattati, salvo che per la conservazione, soltanto con il consenso dell'interessato o
            per l'accertamento, l'esercizio o la difesa di un diritto in sede giudiziaria oppure per tutelare i diritti
            di un'altra persona fisica o giuridica o per motivi di interesse pubblico rilevante L'interessato che
            ha ottenuto la limitazione del trattamento è informato dal titolare del trattamento prima che detta
            limitazione
            sia revocata. ll titolare del trattamento comunica a ciascuno dei destinatari cui sono stati trasmessi
            i dati personali le eventuali limitazioni, salvo che ciò si riveli impossibile o implichi uno sforzo
            sproporzionato. Il titolare del trattamento comunica all'interessato tali destinatari qualora l'interessato
            lo richieda.
            <br>
            <br>
            <b>Diritto di opposizione:</b> l'interessato ha il diritto di opporsi in qualsiasi momento, per motivi
            connessi
            alla sua situazione particolare, al trattamento dei dati personali che lo riguardano svolto dal titolare
            o per l'esecuzione di un compito di interesse pubblico o connesso all'esercizio di pubblici poteri di
            cui è investito il titolare del trattamento o svolto per il perseguimento del legittimo interesse del
            titolare del trattamento o di terzi (ivi inclusa la profilazione). Inoltre l'interessato, qualora i dati
            personali siano trattati per finalità di marketing diretto o di profilazione commercial, ha il diritto
            di opporsi in qualsiasi momento al trattamento dei dati personali che lo riguardano effettuato per tali
            finalità.
            <br>
            <br>
            <b>Diritto di non essere sottoposto a decisioni automatizzate, compresa la profilazione:</b> l'interessato
            ha il diritto di non essere sottoposto a una decisione basata unicamente sul trattamento automatizzato,
            compresa la profilazione, che produca effetti giuridici che lo riguardano o che incida in modo analogo
            significativamente sulla sua persona, salvo nei casi in cui la decisione automatizzata sia necessaria
            per la conclusione o l'esecuzione di un contratto tra l'interessato e un titolare del trattamento; sia
            prevista dalla legge, nel rispetto di misure e cautele; si basi sul consenso esplicito dell'interessato.
            <br>
            <br> Per utilità è comunque di seguito riportato il link agli articoli da 15 a 23 del Regolamento sui
            diritti
            dell’interessato.

        </div>


    </div>

</div>

<style>
    .menu {
        color: #ff9f37;
        text-align: center;
        font-size: 13px;
        line-height: 22px;
    }

    .menu span {
        color: #ffffff;
    }
</style>
<div id="footer">

    <div class="menu">
        <a href="/gbb/tc">Info e costi</a>
        {{/*<span>|</span>*/}}
        {{/*<a href="/gbb/tc" style="color: #7be148">Termini e condizioni</a>*/}}
        <span>|</span>
        <a href="/gbb/compatible">Terminali compatibili</a>
        <span>|</span>
        <a href="/gbb/privity">Info Privacy</a>
        <span>|</span>
        <a href="/gbb/contatta">Contattaci</a>
        <span>|</span>
        <a href="/gbb/unsub">Disattivazione Servizio</a>
    </div>
    <br><br><br>
</div>

</body>
</html>
