<html lang="it">
<head>
    <meta name="Content-Security-Policy">
    <meta name="Access-Control-Allow-Origin" content="SAMEORIGIN">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">


    <title>GBB Game Condiazioni</title>

    <style type="text/css">
        body {
            padding: 0 6px;
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            -webkit-font-smoothing: antialiased !important;
            background: #071d25 !important;
            max-width: 480px;
            margin: auto;
        }

        /*a {*/
            /*text-decoration: none;*/
        /*}*/

        a:link {
            color: inherit !important;
        }

        a:active {
            color: inherit !important;
        }

        a:visited {
            color: inherit !important;
        }

        a:hover {
            color: inherit !important;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        .oggetto {
            width: 100%;
            color: white;
            position: relative;
            float: left;
            cursor: pointer;
            margin-top: -5px;
            line-height: 1em;
        }

        .iteHong Kong Blue Bubble Technology Co, Limited  {
            background: -moz-radial-gradient(center, circle closest-corner, # 0%, # 100%);
            background: -ms-radial-gradient(center, circle closest-corner, # 0%, # 100%);
            background: -o-radial-gradient(center, circle closest-corner, # 0%, # 100%);
            background: -webkit-radial-gradient(center, circle closest-corner, # 0%, # 100%);
            background: radial-gradient(center, circle closest-corner, # 0%, # 100%);
            color: #FFFFFF !important;
        }
    </style>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; -webkit-font-smoothing: antialiased !important;">
<div style="margin-bottom: 13px;">
    <center><img src="/static/img/logo.png" style="margin-top: 6px;max-width: 206px;"></center>
</div>
<div class="iteHong Kong Blue Bubble Technology Co, Limited  oggetto" nn="html"
     style="position: relative;text-align: left;font-size: 0.8em;color: #ffffff !important;line-height: 19px;margin-bottom: 16px;">
    <h2 style="text-align: center">TERMINI E CONDIZIONI</h2>
    <p>Il  <strong style="font-size: 14px;"> servizio in abbonamento </strong>  Life Style consente di fruire di contenuti digitali, nello specifico news, video,
        oroscopo, immagini e wallpaper da smartphone, a seguito del pagamento di un canone settimanale pagabile tramite
        credito telefonico. Il costo settimanale del servizio è di 5 euro IVA inclusa. L’addebito settimanale sarà
        effettuato in un’unica soluzione o, in taluni casi, in differenti tranche, nei limiti di spesa sopraindicati.
        L’addebito settimanale sarà effettuato sul credito o sul conto telefonico relativo al numero di telefono
        dell’utenza Hong Kong Blue Bubble Technology Co, Limited  da cui si effettua la sottoscrizione del servizio. L’attivazione del servizio permette
        all’Utente di richiedere e ricevere sul proprio telefono cellulare, a fronte di un canone di abbonamento
        settimanale, contenuti illimitati, a scelta tra tutti quelli pubblicati e aggiornati sul sito wap <a
                href="http://www.constyle.mobi"><u>http://www.constyle.mobi</u></a>. <b>Il servizio è riservato solo ad
            utenti maggiorenni.</b> L’Utente deve essere debitamente e pienamente autorizzato ad utilizzare il numero di
        telefono cellulare sul quale desideri attivare il Servizio. Se la scheda SIM non è intestata all’Utente,
        l’Utente deve essere stato debitamente autorizzato ad attivare il Servizio dalla persona intestataria della
        scheda. Lancio Entertainment SpA informa espressamente che la richiesta di attivazione del Servizio su di una
        numerazione non intestata all’Utente e/o di persona che non abbia concesso l’autorizzazione all'utilizzo della
        numerazione per l’attivazione del Servizio, può avere conseguenze di natura civile e/o, se del caso, penale, a
        carico dell’Utente non autorizzato. L’utente deve inoltre disporre di un contratto con l’Operatore Hong Kong Blue Bubble Technology Co, Limited  per la
        fruizione di servizi.
        Il contratto per la fruizione dei contenuti digitali del  <strong style="font-size: 14px;"> servizio in abbonamento </strong>  è concluso a tempo
        indeterminato e si rinnova automaticamente, di settimana in settimana. Le spese per apparecchiature (telefoni
        cellulari, computer, applicazioni, altri mezzi di telecomunicazioni, ecc.) che consentono l'accesso al Servizio,
        nonché le spese per la trasmissione dei dati digitali necessari alla fruizione di tale servizio, sono a carico
        esclusivo dell'Utente.</p>

    <p><b>Al momento dell’iscrizione cliccando il tasto che riporta una delle seguenti diciture “Clicca e abbonati” o
            “Abbonati” o “Acquista” o “Clicca e Acquista”, a seconda del servizio richiesto, dichiari di:</b></p><b>
        <ul>
            <li> aver preso atto dell’informativa sul trattamento dei dati personali;</li>
            <li> rinunciare al diritto di recesso ex art 59, comma 1, lett. o) del Codice del consumo;</li>
            <li> essere consapevole del fatto che l’ordine implica l’obbligo di pagare.</li>
        </ul>
    </b>
    <p></p>

    <p>Di seguito nel presente documento si definiscono le condizioni generali che disciplinano la fruizione del
        servizio Life Style (in seguito chiamato "servizio") da parte di colui che acceda al Sito wap <a
                href="http://www.constyle.mobi"><u>http://www.constyle.mobi</u></a>. Tale servizio è fornito da Lancio
        Entertainment SpA (di seguito detto “Società”), Viale Bruno Buozzi 58, 00197 Roma, P.IVA 14122171003. È
        disponibile in abbonamento a pagamento per i Clienti Tre.</p>

    <h3>Compatibilità Servizio</h3>
    <p>Prima di attivare il Servizio, l'utente dovrà accertarsi che il proprio cellulare sia compatibile con il Servizio
        e che sia correttamente configurato per la fruizione dello stesso; per verificare tale requisito accedi per
        maggiori informazioni al link “compatibilità” che troverai nella pagina di attivazione, detta “landing
        page”.</p>

    <h3>Attivazione e disattivazione</h3>
    <p>L’<b>attivazione</b> può essere richiesta ed effettuata via WAP da Utente che naviga su rete del proprio
        Operatore Hong Kong Blue Bubble Technology Co, Limited ; tramite un'inserzione pubblicitaria (banner, link testuali,...), l'utente può accedere alla
        “landing page” descrittiva del servizio e, se ritiene i contenuti di proprio interesse, attivare direttamente
        l’abbonamento tramite apposito tasto di iscrizione, riportante le diciture sopracitate.</p>

    <p>La <b>disattivazione</b> può essere richiesta ed effettuata attraverso l’accesso al sito wap (<a
                href="http://www.constyle.mobi"><u>http://www.constyle.mobi</u></a>), cliccando sul link di “Gestione
        abbonamento/selfcare” posizionato in Home Page di servizio.
        In ogni caso è possibile disattivarsi:</p>
    <ul>
        <li> Chiamando il numero di assistenza clienti <strong style="font-size: 14px;"> 800442299</strong>;</li>
        <li> Scrivendo all’indirizzo email di assistenza <strong style="font-size: 14px;"> customercare@lancio-e.com</strong>, attiva altresì per ogni altra
            necessità;
        </li>
    </ul>
    <p>La disattivazione del Servizio comporterà l'interruzione della fornitura del servizio all'Utente a far data dal
        ricevimento da parte della Società della richiesta di disattivazione, senza diritto ad alcun rimborso.</p>
    <p>La richiesta di disattivazione del Servizio e la successiva disattivazione non comporterà, in ogni caso, alcun
        diritto alla restituzione di eventuali corrispettivi già addebitati al momento del ricevimento della richiesta
        di disattivazione. Le richieste di disattivazione del servizio non conformi alle modalità sopra specificate non
        comportano la disattivazione automatica del servizio né di conseguenza alcun diritto dell'utente al riaccredito
        degli importi eventualmente addebitati fino al momento in cui l'utente non eseguirà correttamente la
        disattivazione.</p>

    <h3>Diritto di recesso - Esclusione del diritto di recesso</h3>
    <p>Nel caso in cui l’utente voglia esercitare il diritto di ripensamento, dovrà chiamare il numero verde 800442299 entro 6 ore dalla ricezione dell’SMS con cui è stato confermata l’attivazione del Servizio.
        L’esercizio di ripensamento va utilizzato solo in caso di effettiva riconsiderazione dell’abbonamento appena effettuato e se ne vieta un utilizzo opportunistico volto al conseguimento di una indebita fruizione. A tale scopo gli Operatori e i CSP possono limitare, totalmente o parzialmente l’erogazione dei servizi richiesti o limitare la possibilità di sottoscrivere nuovi abbonamenti agli utenti che hanno precedentemente esercitato il diritto di ripensamento..</p>
    <p>Il diritto di recesso è in ogni caso escluso:</p>
    <ul>
        <li> se l'attivazione è eseguita con l'accordo espresso del consumatore e con l'accettazione della perdita del
            diritto di recesso a seguito della piena esecuzione del contratto da parte di Società;
        </li>
        <li> per le forniture di registrazioni audio o video sigillate o di software informatici sigillati che sono
            stati aperti dopo la consegna.
        </li>
    </ul>

    <h3>Responsabilità dell'Utente per l'uso del Servizi</h3>
    <p>L'Utente è autorizzato a fruire del servizio esclusivamente ad uso personale, non collettivamente o con scopo di
        lucro, e si assume la piena responsabilità per ogni uso non autorizzato. L'Utente deve essere maggiorenne per
        poter utilizzare il servizio, e in tal senso presta dichiarazione sotto la sua esclusiva responsabilità al
        momento della richiesta di attivazione del servizio. La Società non può controllare l'età o la capacità di agire
        degli Utenti che posseggono l’utenza sulla quale viene richiesta l’attivazione del servizio e/o che utilizzano
        il servizio, è pertanto esclusa ogni responsabilità di Società conseguente all'uso del Servizio da parte di
        Utenti minorenni.</p>
    <p>La Società non è responsabile per qualsiasi danno, diretto o indiretto, derivante all'Utente ovvero a terzi per
        fatto e/o comportamento al medesimo imputabile. La responsabilità e/o qualsivoglia onere derivante
        dall'utilizzazione del Servizio spetteranno esclusivamente all'Utente. Nell'utilizzare il Servizio l'Utente si
        impegna a:</p>
    <ul>
        <li> non violare disposizione di legge, regolamenti, diritti di terzi, comprese le disposizioni relative alla
            legge sul diritto d'autore;
        </li>
        <li> non inoltrare, riprodurre, duplicare e diffondere i contenuti inviati che sono licenziati per il solo uso
            personale attraverso un solo terminale;
        </li>
        <li> non divulgare messaggi e/o materiale a carattere pornografico, razzista, osceno, blasfemo o diffamatorio,
            e/o comunque lesivo di diritti di terzi;
        </li>
        <li> non arrecare danni o porre comunque in essere turbative ad operatori di telecomunicazione od altri
            clienti;
        </li>
        <li> rispettare eventuali limitazioni all'utilizzo dei <strong style="font-size: 14px;"> Servizi riservati ai maggiorenni</strong>, ed a tenere indenne la
            Società da qualsiasi responsabilità derivante dal mancato rispetto di tali limitazioni.
        </li>
    </ul>
    <p>Nel caso in cui la Società venga considerata responsabile di una violazione commessa da parte di un Utente degli
        obblighi che derivano ai sensi della legge vigente o delle presenti Condizioni Generali, l'Utente si impegna a
        tenere indenne la Società contro qualsiasi condanna pronunciata nei suoi confronti. Tale garanzia copre
        qualsiasi importo a qualsiasi titolo delle indennità che dovranno eventualmente essere versate, gli onorari
        degli avvocati e le spese legali che verranno addebitate alla Società.</p>
    <p>La Società non può garantire in alcun modo la precisione e/o l'attualità dei contenuti del Servizio. La Società
        non potrà pertanto essere considerata responsabile per eventuali danni che possano derivare agli utenti dall'uso
        dei contenuti inclusi nel Servizio.</p>

    <h3>Diritti di proprietà intellettuale del servizio</h3>
    <p>Il sito wap, i marchi, i loghi, la grafica, le fotografie, le animazioni, i video e qualsiasi altro contenuto del
        servizio sono proprietà intellettuale della Società o delle terze parti aventi diritto e non possono essere
        riprodotti, usati o rappresentati senza l'esplicita autorizzazione scritta della Società. I diritti d'uso
        concessi dalla Società all'Utente sono rigorosamente limitati all'accesso, alla richiesta, ricezione e
        salvataggio sul proprio telefono cellulare dei Contenuti pubblicati a tale scopo e all'uso di tali Contenuti a
        scopo privato e personale e senza alcun fine di condivisione, diffusione, comunicazione o profitto. Qualsiasi
        altro uso da parte dell'Iscritto, senza l'autorizzazione scritta della Società, è vietato. In particolare,
        l'Utente non può modificare, copiare, riprodurre, scaricare, diffondere, trasmettere, sfruttare commercialmente
        e/o distribuire in qualsiasi modo il Servizio, il sito wap, le varie landing pages correlate, i materiali
        pubblicitari (a titolo esemplificativo e non esaustivo banner, inserzioni testuali, ...) i codici informatici e
        gli altri elementi che compongono il servizio e/o il sito.</p>

    <h3>Comunicazioni</h3>
    <p>Il servizio è offerto dalla Società, ed è disponibile ai clienti Tre. Per ottenere informazioni, è possibile
        contattare il Customer Care al numero 800442299.</p>
    <p>La Società dichiara che i dati personali forniti dall'Utente verranno trattati nel rispetto delle disposizioni di
        cui al d.lgs. n. 196/2003 e successive integrazioni e modifiche, secondo quanto indicato nella privacy policy
        consultabile integralmente a questo link <a
                href="http://www.constyle.mobi/privacy-policy"><u>InfoPrivacy</u></a>.</p>
    <p>Nel corso della durata del Servizio, l’Utente riceverà periodicamente, uno o più SMS, che lo informeranno
        dell’esistenza dell’abbonamento ed eventualmente delle novità e dei nuovi Contenuti disponibili per l’Utente e
        offerti dalla Società.</p>

    <h3>Eventuali modifiche</h3>
    <p>Eventuali modifiche delle condizioni di attivazione e fruizione dei Servizi verranno comunicate via SMS ed
        inviate con congruo preavviso.</p></div>

<style>
    .menu {
        color: #ff9f37;
        text-align: center;
        font-size: 13px;
        line-height: 22px;
    }

    .menu span {
        color: #ffffff;
    }
</style>
<div id="footer">

    <div class="menu">
        <a href="/gbb/tc">Info e costi</a>
        {{/*<span>|</span>*/}}
        {{/*<a href="/gbb/tc" style="color: #7be148">Termini e condizioni</a>*/}}
        <span>|</span>
        <a href="/gbb/compatible">Terminali compatibili</a>
        <span>|</span>
        <a href="/gbb/privity">Info Privacy</a>
        <span>|</span>
        <a href="/gbb/contatta">Contattaci</a>
        <span>|</span>
        <a href="/gbb/unsub">Disattivazione Servizio</a>
    </div>
    <br><br><br>

</div>

</body>
</html>
