<html lang="it">
<head>
    <meta name="Content-Security-Policy">
    <meta name="Access-Control-Allow-Origin" content="SAMEORIGIN">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">


    <title>/gbb Condiazioni</title>

    <style type="text/css">
        body {
            padding: 0 6px;
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            -webkit-font-smoothing: antialiased !important;
            background: #071d25 !important;
            max-width: 480px;
            margin: auto;
        }

        /*a {*/
        /*text-decoration: none;*/
        /*}*/

        a:link {
            color: inherit !important;
        }

        a:active {
            color: inherit !important;
        }

        a:visited {
            color: inherit !important;
        }

        a:hover {
            color: inherit !important;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        .oggetto {
            width: 100%;
            color: white;
            position: relative;
            float: left;
            cursor: pointer;
            margin-top: -5px;
            line-height: 1em;
        }

        .iteHong Kong Blue Bubble Technology Co, Limited {
            background: -moz-radial-gradient(center, circle closest-corner, # 0%, # 100%);
            background: -ms-radial-gradient(center, circle closest-corner, # 0%, # 100%);
            background: -o-radial-gradient(center, circle closest-corner, # 0%, # 100%);
            background: -webkit-radial-gradient(center, circle closest-corner, # 0%, # 100%);
            background: radial-gradient(center, circle closest-corner, # 0%, # 100%);
            color: #FFFFFF !important;
        }
    </style>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; -webkit-font-smoothing: antialiased !important;">
<div style="margin-bottom: 13px;">
    <center><img src="/static/img/logo.png" style="margin-top: 6px;max-width: 206px;"></center>
</div>
<div class="iteHong Kong Blue Bubble Technology Co, Limited  oggetto" nn="html"
     style="position: relative;text-align: left;font-size: 0.8em;color: #ffffff !important;line-height: 19px;margin-bottom: 16px;">
    <h2 style="text-align: center">TERMINI E CONDIZIONI – GBB Game</h2>

    <div>

        <h2>1. Servizio</h2>

        <p>GBB Game (di seguito il “Servizio”) è un <strong style="font-size: 14px;"></GBB>servizio in abbonamento riservato
            ai maggiorenni </strong>.
            GBB Game è un sito
            web
            che offre Giochi mobile HTML5. La migliore scelta per gli utenti di giocare ai giochi mobili online.
       
            <br>
            <br> I presenti termini e condizioni regolano l’utilizzo del Servizio e costituiscono documento contrattuale
            tra Hong Kong Blue Bubble Technology Co, Limited e l’utente avente ad oggetto l’acquisto e la fornitura del
            Servizio.

        </p>
        <br>
        <h2>2. Informazioni generali</h2>

        <p>Il Servizio è fornito da Hong Kong Blue Bubble Technology Co, Limited , società avente sede legale in Unit
            502, 5/F.,
            Hang Seng North Point Building, 341 King's Road, North Point, Hong Kong, P.IVA num. 2344323 e contattabile
            ai recapiti indicati nel paragrafo Recesso e Disattivazione del servizio ed al link
            “Contattaci” presente sulle pagine internet del Servizio.
            <br>
            <br> Il <strong style="font-size: 14px;"> servizio in abbonamento </strong> può essere attivato
            esclusivamente dagli utenti maggiorenni o autorizzati da
            chi si assume l'impegno di corrispondere per lui i corrispettivi per la fruizione del Servizio.
        </p>
        <br>
        <h2>3. Accesso al Servizio ed Abbonamento</h2>

        <p>Il Servizio è riservato a utenti Tim, 3, Vodafone e Wind.
            <br> L’utente potrà accedere al Servizio:
            <br>
            <br> - direttamente dal portale
            <a href="http://lit.gbbgame.com ">http://lit.gbbgame.com</a>;
            <br> - dalle pagine promozionali del servizio GBB Game.
            <br>
            <br> Per sottoscrivere il servizio è sufficiente:
            <br> iscriversi, con connessione Internet non 3G (es: ADSL, WIFI) dal sito
            <a href="http://lit.gbbgame.com ">http://lit.gbbgame.com</a>(o dalle pagine promozionali ad esso correlate),
            inserendo il proprio numero telefonico
            sul quale addebitare il prezzo del Servizio ed il PIN code ricevuto via SMS.
            <br>
            <br> Oppure
            <br>
            <br> - iscriversi, con connessione Internet 3G, dal sito
            <a href="http://lit.gbbgame.com ">http://lit.gbbgame.com</a>(o dalle pagine promozionali ad esso correlate).
            L'iscrizione viene completata
            cliccando sul pulsante "Clicca e abbonati”. Successivamente alla richiesta di attivazione del Servizio in
            abbonamento, l’utente riceverà un SMS di conferma di attivazione con indicato il costo dell’abbonamento.
            <br>
            <br> L’abbonamento al Servizio permette all’utente abbonato di accedere illimitatamente a tutti i contenuti
            proposti
            sul portale per l’intera durata dell’abbonamento.
            <br>
            <br>
        </p>
        <h2>4. Prezzo e Costi del Servizio</h2>
        <p>

            <strong style="font-size: 14px;"> GBB Game propone unServizio di abbonamento al gioco al prezzo di 5,09€
                (euro cinque/09) IVA
                inclusaa settimana per WIND e VODAFONE, di 5,20€ (euro cinque/20) IVA inclusa a settimana per TIM e di
                5,00€ (euro cinque/00) per i clienti 3, che sarà addebitato contestualmente all’attivazione del Servizio
                e
                successivamente in modo
                automatico all’inizio di ogni periodo di rinnovo dell’abbonamento.</strong> Il prezzo dell'abbonamento
            al Servizio
            sarà addebitato direttamente sulla bolletta telefonica o decurtato dal credito della carta prepagata, a
            seconda
            del contratto stipulato dall'utente con il proprio operatore telefonico.
            <br> Nel caso in cui l’utente non avesse credito a sufficienza, per poter garantire gli addebiti settimanali
            relativi al proprio abbonamento, non sarà possibile fruire dei contenuti disponibili sul sito.
            <br>
            <br> Per quanto riguarda TIM, In caso di mancata disponibilità del credito residuo, l’addebito potrà essere
            effettuato
            in quote, all’interno del periodo di abbonamento, fino al raggiungimento del costo complessivo del servizio.
            <br>
            <br> Restano esclusi dal costo settimanale dell'abbonamento gli eventuali costi di accesso e di navigazione
            al
            sito del Servizio e ad eventuali siti collegati attraverso link esterni presenti nello stesso, i cui costi
            sono regolati per gli utenti secondo il proprio piano tariffario o l’offerta commerciale scelta in essere
            con il proprio operatore telefonico.
            <br>
            <br>
        </p>
        <h2>5. Recesso e Disattivazione del Servizio</h2>
        <p>

            <strong style="font-size: 14px;"> L’abbonamento al Servizio avrà durata dalla data di attivazione
                dell’abbonamento per un periodo di 7 giorni
                che si rinnoverà
                automaticamente e tacitamente per ulteriori periodi di 7 giorni sino all’eventuale richiesta di
                disattivazione
                da parte dell’utente. In ogni momento l’utente potrà disattivare il Servizio tramite apposito link
                presente
                nell’area Gestione Servizio, oppure chiamando il customer care al numero 800442299, tutti i giorni H24,
                o
                per parlare con un operatore dalle 9:00 alle 21:00, o mandando una e-mail al
                chensihao@bluebubble.com.cn</strong> .
            <br> Nel caso in cui l’utente voglia esercitare il diritto di ripensamento, dovrà chiamare il numero verde 800442299 entro 6 ore dalla ricezione dell’SMS con cui è stato confermata l’attivazione del Servizio. L’esercizio di ripensamento va utilizzato solo in caso di effettiva riconsiderazione dell’abbonamento appena effettuato e se ne vieta un utilizzo opportunistico volto al conseguimento di una indebita fruizione. A tale scopo gli Operatori e i CSP possono limitare, totalmente o parzialmente l’erogazione dei servizi richiesti o limitare la possibilità di sottoscrivere nuovi abbonamenti agli utenti che hanno precedentemente esercitato il diritto di ripensamento.
            <br>
        </p>
        <h2>6. Proprietà Intellettuale</h2>
        <p>

            Il marchio GBB Game, il dominio http://lit.gbbgame.com, il sito http://lit.gbbgame.com, gli elementi che lo
            compongono e i
            contenuti proposti nell’ambito del Servizio (di seguito la “Proprietà Intellettuale”), sono di esclusiva
            proprietà di Hong Kong Blue Bubble Technology Co, Limited o la stessa ne è licenziataria. Qualsiasi
            riproduzione
            e rappresentazione, totale o parziale, della Proprietà Intellettuale, con qualsiasi mezzo, è tassativamente
            vietata senza l'esplicita autorizzazione di Hong Kong Blue Bubble Technology Co, Limited e può costituire un
            atto
            di contraffazione perseguibile per legge in base alle norme sulla tutela della proprietà intellettuale.

            <br>
        </p>
        <h2>7. Sospensione e/o malfunzionamenti del Servizio</h2>
        <p>

            Hong Kong Blue Bubble Technology Co, Limited potrà in ogni momento sospendere, o cessare la fornitura del
            Servizio, senza alcuna
            responsabilità nei confronti degli utenti. Inoltre, Hong Kong Blue Bubble Technology Co, Limited non sarà
            responsabile
            per ritardi, malfunzionamenti, sospensione e/o interruzione del Servizio dovuti a:
            <br>
            <br> - un'errata utilizzazione del Servizio da parte degli utenti;
            <br> - violazione da parte degli utenti di una qualsiasi delle disposizioni di cui al successivo articolo;
            <br> - malfunzionamenti del terminale e/o difetto di conformità delle caratteristiche del terminale
            dell'utente
            con quelle idonee a permettere la fruizione del Servizio;
            <br> - insufficiente credito telefonico del terminale dell'utente;
            <br> - interruzione totale o parziale del Servizio per fatto dell'operatore telefonico e/o per qualunque
            motivo
            non dipendente da fatto e/o colpa di Hong Kong Blue Bubble Technology Co, Limited .
            <br>
            <br> Il Cliente prende atto ed accetta che, per il periodo di validità del Contratto, Hong Kong Blue Bubble
            Technology Co, Limited ha facoltà di modificare in qualunque momento i Contenuti mediante aggiunte e/o
            sostituzioni.
            <br> Hong Kong Blue Bubble Technology Co, Limited si impegna a dare notizia al Cliente, con almeno 30 giorni
            di preavviso
            rispetto alla data di efficacia, delle variazioni tecnico/economico/prestazionali del Servizio e delle
            relative
            modifiche apportate alle presenti Condizioni che comportino effetti riduttivi e/o peggiorativi per il
            Cliente
            con indicazione della data di efficacia delle modifiche stesse. Tale comunicazione potrà essere fornita
            tramite
            SMS sul numero in cui è attivo il servizio. In tali casi il Cliente avrà facoltà di recedere dal Contratto
            nella modalità indicata nell’articolo 5 delle presenti Condizioni.
            <br>
        </p>
        <h2>8. Responsabilità degli utenti</h2>
        <p>

            Nell'utilizzare il Servizio, ciascun utente si impegna a:
            <br>
            <br> - non violare disposizione di legge, regolamenti, diritti di terzi, comprese le disposizioni relative
            alla
            legge sul diritto d'autore;

            <br>- non inoltrare, riprodurre, duplicare e diffondere i contenuti offerti sul portale;
            <br>- non divulgare messaggi e/o materiale lesivo di diritti di terzi;
            <br>- non arrecare danni o porre comunque in essere turbative ad operatori di telecomunicazione od altri
            utenti;
            <br>- tenere indenne Hong Kong Blue Bubble Technology Co, Limited da qualsiasi responsabilità derivante dal
            mancato
            rispetto di predette limitazioni.
            <br>Ciascun utente si impegna pertanto a tenere indenne Hong Kong Blue Bubble Technology Co, Limited da
            qualsiasi danno
            derivante dalla violazione di predette obbligazioni e/o di disposizioni di legge o di regolamento.

        </p>
        <h2>9. Riservatezza </h2>
        <p>

        <p>Ciascun utente è tenuto a custodire con la massima diligenza e a mantenere riservati gli eventuali
            identificativi
            attribuiti al momento della registrazione all'area riservata al fine di prevenire l'utilizzo del Servizio
            da parte di terzi non autorizzati. Ciascun utente sarà pertanto responsabile di qualsiasi utilizzo compiuto
            da terzi non autorizzati delle proprie credenziali di autenticazione nonché di qualsiasi danno arrecato
            a Hong Kong Blue Bubble Technology Co, Limited e/o a terzi, in dipendenza della mancata osservanza di quanto
            sopra.
            <br>L'utente si impegna a comunicare immediatamente e comunque per iscritto a Hong Kong Blue Bubble
            Technology Co, Limited l'eventuale uso non autorizzato da parte di terzi dei propri dati identificativi
            garantendo comunque
            sin d'ora a manlevare e tenere indenne Hong Kong Blue Bubble Technology Co, Limited da ogni e qualsiasi
            richiesta
            anche di risarcimento danni, proposta e/o derivante, direttamente ovvero indirettamente, dal su indicato
            uso o abuso.</p>

        <h2>10. Misure Tecnologiche di Protezione dei contenuti distribuiti attraverso i Servizi</h2>
        <p>

            Sui contenuti digitali pubblicati nelle aree riservate e sui contenuti/prodotti distribuiti attraverso il
            Servizio possono
            essere apposte misure tecnologiche di protezione ai sensi e per gli effetti degli Artt. 102 quater ss.
            della Legge n. 633/41, destinate a impedire o limitare atti non autorizzati dal titolare dei diritti;
            sugli stessi possono essere altresì presenti informazioni elettroniche sul regime dei diritti indicanti
            i termini e le condizioni d'uso delle opere e/o dei materiali, l'autore dell'opera o qualsiasi altro
            titolare nonché numeri o codici che rappresentano tali informazioni o altri elementi di identificazione.
            Il Cliente dichiara espressamente di essere consapevole del fatto che il Servizio è destinato esclusivamente
            ad un utilizzo personale e non commerciale e si impegna a non utilizzare il Servizio in violazione di
            qualsivoglia legge o regolamento o in maniera impropria. I Contenuti non potranno essere ceduti dal Cliente
            a nessun titolo e pertanto non potranno essere riprodotti o utilizzati se non per uso personale. Qualsiasi
            utilizzo dei contenuti digitali non previsto è espressamente vietato. È penalmente sanzionato, chiunque,
            a fini di lucro, abusivamente duplica, riproduce, trasmette o diffonde in pubblico, vende, noleggia,
            cede a qualsiasi titolo, proietta in pubblico con qualsiasi procedimento opere o parti di opere protette,
            e altresì rimuove o altera le misure tecnologiche di protezione e/o le informazioni elettroniche di cui
            sopra.

            <br>
        </p>
        <h2>11. Foro Competente e rinvio a norme di Legge</h2>
        <p>

            Il contratto stipulato tra utente e Hong Kong Blue Bubble Technology Co, Limited è disciplinato dalla
            legislazione italiana vigente
            ed è redatto in conformità alle disposizioni normative vigenti in Italia in materia di contratti a distanza.
            Per tutto quanto non previsto nel presente contratto, si fa espresso rinvio alle disposizioni della legge
            vigente in Italia e, comunque, alle norme vigenti ed agli usi locali. Tutte le controversie che sorgano
            tra l’utente e Hong Kong Blue Bubble Technology Co, Limited sono devolute alla giurisdizione del giudice
            competente
            territorialmente, secondo quanto stabilito dal codice del consumo D.Lgs.206/2005 e dal regolamento 44/2001.
            L’utente – ancorché residente o domiciliato in Italia – dichiara espressamente di accettare come regolatrice
            per le eventuali controversie che dovessero sorgere, la procedura civile italiana.
            <br>
        </p>
        <h2>12. Clausole vessatorie</h2>
        <p>
            Ai sensi e per gli effetti del combinato disposto dagli artt. 1341 e 1342 del codice civile italiano,
            l’utente dichiara di
            aver letto e ben compreso tutti gli articoli del presente atto e, nello specifico, dichiara di aver compreso
            il contenuto degli articoli 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 e con la sottoscrizione del presente
            atto da valere ad ogni effetto di legge quale formale assunzione di impegno contrattuale, dichiara di
            accettarne incondizionatamente il contenuto.
    </div>
</div>

<style>
    .menu {
        color: #ff9f37;
        text-align: center;
        font-size: 13px;
        line-height: 22px;
    }

    .menu span {
        color: #ffffff;
    }
</style>
<div id="footer">

    <div class="menu">
        <a href="/gbb/tc">Info e costi</a>
        {{/*<span>|</span>*/}}
        {{/*<a href="/gbb/tc" style="color: #7be148">Termini e condizioni</a>*/}}
        <span>|</span>
        <a href="/gbb/compatible">Terminali compatibili</a>
        <span>|</span>
        <a href="/gbb/privity">Info Privacy</a>
        <span>|</span>
        <a href="/gbb/contatta">Contattaci</a>
        <span>|</span>
        <a href="/gbb/unsub">Disattivazione Servizio</a>
    </div>
    <br><br><br>

</div>

</body>
</html>
